@font-face {
  font-family: Abel;
  src: url("../fonts/Abel/Abel-Regular.ttf");
}

@font-face {
  font-family: Anton;
  src: url("../fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: Alex;
  src: url("../fonts/AlexBrush/AlexBrush-Regular.ttf");
}
